@import "tailwindcss";

:root {
  --color-primary-1: #042b3b;
  --color-primary-2: #87d5ed;
  --color-primary-3: #4cbce4;
  --color-primary-4: #35738a;
  --color-primary-5: #3989a7;
  --color-primary-6: #6e94a2;
  --color-primary-7: #205b74;
  --color-primary-8: #1e51b3;
  --color-primary-9: #113e4f;
  --color-primary-10: #10445c;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary-1: var(--color-primary-1);
  --color-primary-2: var(--color-primary-2);
  --color-primary-3: var(--color-primary-3);
  --color-primary-4: var(--color-primary-4);
  --color-primary-5: var(--color-primary-5);
  --color-primary-6: var(--color-primary-6);
  --color-primary-7: var(--color-primary-7);
  --color-primary-8: var(--color-primary-8);
  --color-primary-9: var(--color-primary-9);
  --color-primary-10: var(--color-primary-10);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
