@import "tailwindcss";
@layer components;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Satoshi, sans-serif;
  color: var(--color-primary-6);
  background-color: #f1f5f9;
  overflow-x: hidden;
}

/* Typewriter styles */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.Typewriter__cursor {
  animation: blink 1s steps(2, start) infinite;
}

/* Utilites */
.font-times-new-roman {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 3px;
}

/* Custom variant for dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Colors to use it in our css file */
:root {
  --color-primary-1: #042b3b;
  --color-primary-2: #87d5ed;
  --color-primary-3: #4cbce4;
  --color-primary-4: #35738a;
  --color-primary-5: #3989a7;
  --color-primary-6: #6e94a2;
  --color-primary-7: #205b74;
  --color-primary-8: #1e51b3;
  --color-primary-9: #113e4f;
  --color-primary-10: #10445c;
  --color-white: #ffffff;
}

/* This for use colors in files jsx and html (since we're using tailwind 4) */
@theme inline {
  --color-primary-1: var(--color-primary-1);
  --color-primary-2: var(--color-primary-2);
  --color-primary-3: var(--color-primary-3);
  --color-primary-4: var(--color-primary-4);
  --color-primary-5: var(--color-primary-5);
  --color-primary-6: var(--color-primary-6);
  --color-primary-7: var(--color-primary-7);
  --color-primary-8: var(--color-primary-8);
  --color-primary-9: var(--color-primary-9);
  --color-primary-10: var(--color-primary-10);
  --color-white: var(--color-white);
}

/* Components to use in our app */
@layer components {
  .btn {
    @apply bg-transparent inline-block text-center cursor-pointer border-0;
  }

  .btn-primary {
    @apply bg-primary-3 dark:bg-primary-10 text-white;
  }
}
